.site-side-width {
  width: 250px;
}

.site-logo-link:hover {
  text-decoration: none;
}

.site-logo-text {
  color: #333;
  display: inline-block;
  font-size: 2rem;
}

.site-nav-item {
  color: #333;
}

.site-nav-item:hover {
  text-decoration: none;
}

.site-description-title {
  font-size: 3.6rem;
}

.site-intro {
  max-width: 400px;
}

.site-btn-big {
  padding: 1rem 2rem;
}

.site-font-weight-normal {
  font-weight: normal;
}

.site-padding-bottom-big {
  padding-bottom: 6rem;
}

.site-color-background-faded {
  background-color: rgba(0, 0, 0, 0.05);
}

.site-iframe {
  width: 100%;
  border: 0;
}