/* header */
.site-header {
  position: fixed;
  width: 100%;
  background: white;
  padding-top: 1.5rem;
  top: 0;
  left: 0;
  z-index: 1;
}


/* desktop aside */
.site-aside-desktop-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 5.4rem;
  top: 0;
  left: 0;
}

.site-aside {
  width: 20rem;
  max-width: 20rem;
  min-width: 20rem;
}
.site-aside ul {
  list-style: none;
  padding-left: 1.5rem;
}

.site-article {
  margin-top: 5.4rem;
}


/* mobilde aside */
.site-aside-toggle-button {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  margin: 1.5rem;
  line-height: 1px;
  z-index: 3;
}

.site-aside-mobile-wrapper {
  display: block;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 5.4rem;
  margin-left: -100%;
  transition: margin-left 500ms;
  z-index: 2;
}
#site-aside-toggle-checkbox:checked ~ .site-aside-mobile-wrapper {
  margin-left: 0;
}


/* text-plain */
.site-text-plain {
  font-weight: normal;
}
a.site-text-plain {
  color: #777;
  text-decoration: none;
}
a.site-text-plain:hover,
a.site-text-plain.title,
a.site-text-plain.active {
  color: #333;
}
a.site-text-plain.active {
  font-weight: 600;
}


/* sponsor */
.site-sponsor-link {
  opacity: 0.7;
}
.site-sponsor-link:hover {
  opacity: 1;
}


/* warning */
.site-warning {
  background-color: #db5757;
  color: white;
  margin-top: 0;
  padding: 1.5rem;
}
.site-warning a {
  color: white;
  text-decoration: underline;
}
