/* layout */
.site-height-100 {
  height: 100%;
}

.site-side {
  width: 180px;
  margin: 0 3rem;
}

.site-side ul {
  list-style: none;
  margin-top: 0;
  padding-left: 1.5rem;
}

.site-side ul:first-child {
  padding-left: 0;
}


/* utils */
.site-text-plain,
.site-text-plain:hover {
  color: #333;
  font-weight: normal;
  text-decoration: none !important;
}

.site-clear-bottom-padding {
  padding-bottom: 0;
}


/* mobilde menu */
.site-mobile-menu-toggle {
  display: none;
}

.site-mobile-menu-button {
  z-index: 1;
  cursor: pointer;
  line-height: 1px;
}

.site-mobile-menu-container {
  display: block;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 54px 0 1.5rem;
  margin-left: -100%;
  transition: margin-left 500ms;
}

.site-mobile-menu-toggle:checked ~ .site-mobile-menu-container {
  margin-left: 0;
}


/* desktop menu */
.site-desktop-menu-container {
  padding-left: 1.5rem;
}


/* iframe */
.site-iframe {
  border: 0;
  width: 100%;
}
