/* header */
.site-header {
  position: fixed;
  width: 100%;
  background: white;
  padding-top: 1.5rem;
  top: 0;
  left: 0;
}

/* desktop aside */
.site-aside-desktop-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 5.4rem;
  top: 0;
  left: 0;
}

/* mobilde aside */
.site-aside-toggle-button {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  margin: 1.5rem;
  line-height: 1px;
}

.site-aside-mobile-wrapper {
  display: block;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 5.4rem;
  margin-left: -100%;
  transition: margin-left 300ms;
}

#site-aside-toggle-checkbox:checked ~ .site-aside-mobile-wrapper {
  margin-left: 0;
}

/* menu list */
.site-menu-list {
  padding-bottom: 1.5rem;
}

.site-menu-list,
.site-menu-list ul {
  list-style: none;
  padding-left: 1.5rem;
}

.site-aside-mobile-wrapper .site-menu-list {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-right: 1.5rem;
}

/* article */
.site-article-wrapper {
  margin-top: 5.4rem;
  overflow: hidden;
}

/* text-plain */
.site-text-plain {
  font-weight: normal;
}

a.site-text-plain {
  color: #777;
  text-decoration: none;
}

a.site-text-plain:hover,
a.site-text-plain.site-side-title,
a.site-text-plain.current {
  color: #333;
}

a.site-text-plain.current {
  font-weight: 600;
}

/* warning */
.site-warning {
  background-color: #db5757;
  color: white;
  margin-top: 0;
  padding: 1.5rem;
}

.site-warning a {
  color: white;
  text-decoration: underline;
}

/* z-index */
.site-header {
  z-index: 10;
}

.site-article {
  z-index: 1;
}

.site-aside-mobile-wrapper {
  z-index: 20;
}

.site-aside-toggle-button {
  z-index: 30;
}

/* utils */
.site-height-0 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.site-height-100 {
  height: 100%;
}

.site-padding-bottom-0 {
  padding-bottom: 0;
}

.site-link-faded {
  opacity: 0.7;
}

.site-link-faded:hover {
  opacity: 1;
}
